.container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.block {
    width: 400px;
}

.ad {
    padding: 1rem;
}
.ad:hover {
    cursor: pointer;
    background-color:#e1f7ff;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }